<mat-card>
    <div fxLayoutAlign="start center">
        <mat-form-field fxFlex="30%">
            <mat-label>Search File</mat-label>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placerholder="filter">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.id }}</td>
        </ng-container> -->
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="box">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.archiveBox.name }}</td>
        </ng-container>
    
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.code }}</td>
        </ng-container>

        <ng-container matColumnDef="policyType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Type</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.policyType }}</td>
        </ng-container>

        <ng-container matColumnDef="policyNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.policyNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="dateStart">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Start</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.dateStart | date}}</td>
        </ng-container>

        <ng-container matColumnDef="dateEnd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date End</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.dateEnd | date}}</td>
        </ng-container>

        <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
            <td mat-cell *matCellDef="let element" (click)="populateForm(element)">{{ element.comments }}</td>
        </ng-container>
    
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary"
                    (click)="onDelete(element.id)">Delete</button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
</mat-card>
