<mat-card class="archive-form" color="primary">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
       
        <form fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" #form="ngForm" autocomplete="off"
        (submit)="onSubmit(form)">
        <input type="hidden" name="id" [value]="service.boxFormData.id">
            <!-- NAME -->

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" #name="ngModel" [(ngModel)]="service.boxFormData.name" class="form-control"
                    placeholder="name" required>
            </mat-form-field>

            <!-- CODE -->
            <mat-form-field appearance="fill">
                <mat-label>Code</mat-label>
                <input matInput name="value" #value="ngModel" [(ngModel)]="service.boxFormData.code"
                    class="form-control" placeholder="Code" required>
            </mat-form-field>


            <!-- BUTTON -->
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</mat-card>