<mat-card class="archive-form" color="primary">

    <div class="main" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-form-field [style.width.px]=300 *ngIf="!isAddingBox" appearance="fill">
            <mat-label>Box</mat-label>
            <mat-select [(ngModel)]="selectedOption" (selectionChange)=updateBox(event)>
                <mat-option *ngFor="let box of boxes | async " [value]="box.id">
                    {{ box.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        

        <div class="second">
            <form fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" #form="ngForm" autocomplete="off"
                (submit)="onSubmit(form)">
                <input type="hidden" name="id" [value]="service.fileFormData.id">


                <!-- CODE -->

                <mat-form-field appearance="fill">
                    <mat-label>Code</mat-label>
                    <input matInput name="code" #value="ngModel" [(ngModel)]="service.fileFormData.code"
                        class="form-control" placeholder="Code" required>
                </mat-form-field>

                <!-- NAME -->

                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" #name="ngModel" [(ngModel)]="service.fileFormData.name"
                        class="form-control" placeholder="name" required>
                </mat-form-field>

                <!-- Policy Type -->
                <mat-form-field appearance="fill">
                    <mat-label>Policy Type</mat-label>
                    <input matInput name="policyType" #value="ngModel" [(ngModel)]="service.fileFormData.policyType"
                        class="form-control" placeholder="Policy Type" required>
                </mat-form-field>

                <!-- Policy Number -->
                <mat-form-field appearance="fill">
                    <mat-label>Policy Number</mat-label>
                    <input matInput name="policyNumber" #value="ngModel" [(ngModel)]="service.fileFormData.policyNumber"
                        class="form-control" placeholder="Policy Number" required>
                </mat-form-field>

                <!-- DATE-Start -->
                <mat-form-field>
                    <input matInput name="dateStart" #dateStart="ngModel" [(ngModel)]="service.fileFormData.dateStart"
                        placeholder="Start Date" [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- DATE-End -->
                <mat-form-field>
                    <input matInput name="dateEnd" #dateEnd="ngModel" [(ngModel)]="service.fileFormData.dateEnd"
                        placeholder="End Date" [matDatepicker]="picker1" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <!-- Comments -->
                <mat-form-field [style.width.px]=500 appearance="fill">
                    <mat-label>Comments</mat-label>
                    <input matInput name="comments" #value="ngModel" [(ngModel)]="service.fileFormData.comments"
                        class="form-control" placeholder="Comments" required>
                </mat-form-field>


                <!-- HIDDEN Box -->
                <input hidden name="archiveBoxId" #archiveBoxId="ngModel"
                    [(ngModel)]="service.fileFormData.archiveBoxId" class="form-control" placeholder="" required>

                <!-- BUTTON -->
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        </div>


    </div>




    <!-- ADD Box FORM -->

    <form *ngIf="!isAddingBox" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" #form="ngForm"
        autocomplete="off">
        <mat-label>Can't find box?</mat-label>
        <div class="form-group">
            <button mat-raised-button color="primary" (click)="changeIsAddingBox()">Add New Box</button>
        </div>

    </form>

    <!-- ADD Box FORM 2 -->

    <form *ngIf="isAddingBox" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" #boxForm="ngForm"
        autocomplete="off" (submit)="insertBox(boxForm)">

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput name="name" #name="ngModel" [(ngModel)]="service.boxFormData.name" class="form-control"
                placeholder="Box Name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Code</mat-label>
            <input matInput name="code" #name="ngModel" [(ngModel)]="service.boxFormData.code" class="form-control"
                placeholder="Box Code" required>
        </mat-form-field>

        <div class="form-group">
            <button mat-raised-button color="primary" type="submit">Add New Box</button>
        </div>

    </form>

</mat-card>