.invisible {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.archive-form {
    padding: 20px;
    margin: 20px;  
    background-color: #E8EAF6;
}

.main {
border: 2px dotted red; 
}

.second {
    border: 2px dotted blue; 
}
